body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin: 10px 0;
    color: #333;
}

.container {
    display: flex;
    flex-grow: 1;
}

#map {
    width: 70%;
    height: calc(100vh - 140px); /* Full height minus header and footer */
}

.menu {
    width: 30%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.menu h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.menu ul {
    padding: 0;
    list-style-type: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #0056b3;
}

.search-bar, form {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.search-bar label, form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.search-bar select, form input[type="text"], form input[type="number"] {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
    width: calc(100% - 20px); /* Adjusted width for input fields */
}

.search-bar button, form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.search-bar button:hover, form button[type="submit"]:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    font-size: 14px;
    color: #777;
}
